body {
  margin: 0px;
}
.font-color-primary {
  color: #2cf3c1;
}
.p-button  {
  background-color: #2cf3c1;
  border: 1px solid #0be7b0;
}

.p-button:hover  {
  background-color: #0decb5 !important;
  border: 1px solid #05ad83 !important;
}
.p-toolbar {
  background: #38f1c3;
  padding: 0.1rem;
}

.img-toolbar img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  
}
.p-margin-formularios {
  margin : 5% 5% 5% 5%;
}

.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
  background-color: #7191a1 !important;
  border: 1px solid #5b7481 !important;
}

.p-image-preview-container>img {
  max-width: 95%;
  width: 250px;
}
.display-none {
  display: none;
}


